.form-section {
    min-height: 80vh;
    @include flex(center, center, row);
    margin-top: 3rem;

    form {
        padding: 3rem 10rem;
        box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, 0.2), 0 0 5px 2px rgba(0, 0, 0, 0.067);
        @include flex(center, center, column);
        border-radius: 3rem;

        input,
        text {
            width: 100%;
            min-height: 4rem;
            margin: 2rem;
            outline: none;
            border: 1px solid $background-color;
            border-radius: 1rem;

            &:focus {
                outline: 1px solid black;
            }
        }

        textarea {
            width: 100%;

            font-family: 'Montserrat', sans-serif;
            font-size: 2rem;
            border: 1px solid $background-color;
            border-radius: 1rem;
            margin: 2rem;

            &:focus {
                outline: 1px solid black;
            }
        }

        button {
            width: 100%;
            padding: 2rem;
            background: $background-color;
            color: white;
            border: 1px solid $background-color;
            border-radius: 1rem;

            &:focus {
                background: rgb(166, 167, 64);
            }
        }
    }
}