.projects {
    width: 90%;
    margin: auto;
    min-height: 90vh;
    @include flex(space-between, center, row);
    text-align: center;
    flex-wrap: wrap;

    h2 {
        margin: 5rem;
    }

}

.candy-house,
.web-profile,
.new-project {
    flex: 1 1 50rem;
    margin: 3rem;

    .description {
        width: 100%;
        height: 100%;
        position: relative;
        left: 50%;
        bottom: 0;
        transform: translate(-50%);
    }

    img {
        width: 100%;
        height: 100%;
        border-radius: 3rem;
        // box-shadow: 0 0 2rem 1rem rgba(0, 0, 0, 0.067), 0 2rem 2rem rgba(0, 0, 0, 0.067);
        box-shadow: inset 0 0 10px 10px rgba(0, 0, 0, 0.2), 0 0 10px 5px rgba(0, 0, 0, 0.067);

    }

    .text-box {
        width: 100%;
        height: 50%;
        position: absolute;
        bottom: 0;
        opacity: 0.8;
        background: rgb(255, 255, 255);
        @include flex(center, center, row);
        border-bottom-left-radius: 3rem;
        border-bottom-right-radius: 3rem;
        box-shadow: inset 0 0 2rem 1rem rgba(0, 0, 0, 0.067);

        p {
            font-size: $text;
            padding: 2rem;
        }
    }

}

.new-project {

    img {
        opacity: 0.7;
        filter: blur(3px);
    }

    .text-box {
        width: calc(100% + 1rem);
        transform: translate(-0.5rem);

    }
}